/* Baze */
:root {
  --c-black: #2c2c2c;
  --c-button-green: #bbf330;
  --c-yelow-mein: #ffe550;
  --c-primery-white: #fefefe;
  --c-green-icon: #7eb101;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-black);
  background-color: var(--c-primery-white);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* END Baze */
/* START Header */
.header {
  background-color: var(--c-primery-white);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  margin: 0 auto;
}
.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1280px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-flex;
  margin-right: 735px;
}
.nav-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.nav-link {
  display: inline-block;
  padding: 25px 0;
  color: var(--c-black);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--c-button-green);
  text-decoration: underline;
}

.button-service {
  display: block;
  color: var(--c-black);
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  height: 32px;
  border: none;
  border-radius: 30px;
  background-color: var(--c-button-green);
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover {
  background-color: var(--c-green-icon);
}

/* END Header */

/* START Section-hero */

.section-hero {
  padding: 16px 14px 69px 0;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.hero-box {
  max-width: 511px;
}
.hero-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  margin-top: 143px;
  margin-bottom: 28px;
}

.discription-hero {
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 46px;
}

.button-service-hero {
  display: block;
  color: var(--c-black);
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  height: 32px;
  border: none;
  border-radius: 30px;
  background-color: var(--c-button-green);
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service-hero:hover {
  background-color: var(--c-green-icon);
}

.salat-img {
  margin-left: auto;
  border: 26px solid var(--c-yelow-mein);
  border-radius: 50%;
}

.salat-box {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.salat-box:hover .discription-salt,
.salat-box:focus .discription-salt {
  transform: translateY(0%);
}

.discription-salt {
  position: absolute;
  top: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 250, 63, 0.5775560224089635) 62%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--c-primery-white);
}

/* END Section-hero */

/* START Offerings */
.offerings {
  background-color: var(--c-yelow-mein);
}

.offerings-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.ofer-item {
  flex-basis: calc((100% -67px) / 2);
}

.offering-title {
  min-width: 527px;
  margin-top: 196px;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.offer-disription {
  min-width: 500px;
  margin-bottom: 48px;
  font-weight: 400;
  line-height: 1.5;
}

.offer-list {
  display: flex;
  gap: 67px;
}

.icon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: var(--c-primery-white);
}

.offer-icon {
  fill: var(--c-green-icon);
}

.offer-item-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  margin: 16px 0;
}

.discription-item {
  max-width: 253px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.offer-button {
  display: flex;
  margin-top: 42px;
  margin-bottom: 160px;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--c-green-icon);
  background: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer-button:hover {
  background-color: var(--c-button-green);
}
/* END Offerings */

/* Start Our Favorites */

.favourites {
  background-color: var(--c-primery-white);
  padding: 120px 0 101px;
}

.title-favourites {
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.discription-favourites {
  margin: 20px 0 40px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.food-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.food-item {
  flex-basis: calc((100% - 64px) / 3);
}

.food-card {
  border-radius: 50%;
}

.food-img {
  border-radius: 50%;
  border: 16px solid var(--c-yelow-mein);
  padding: 25px;
}

/* END Our Favorites */

/* START section-customers */

.section-customers {
  background-color: var(--c-yelow-mein);
  padding: 140px 0 126px 17px;
}
.customers-title {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customers-discription {
  padding: 20px 0 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.responce-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.response-card {
  background-color: var(--c-primery-white);
  padding: 15px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.stars-icon {
  fill: var(--c-yelow-mein);
}

.response-discription {
  margin: 29px 0 45px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-name {
  display: flex;
  gap: 16px;
}

.card-img {
  border-radius: 48px;
  border: 2px solid var(--c-yelow-mein);
}
/* END section-customers */
